<nz-table #basicTable [nzData]="dataSet">
  <thead>
  <tr>
    <th>cron</th>
    <th>message</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.cron}}</td>
    <td>{{data.message}}</td>
    <td>
      <a (click)="startJob(data)">开始</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="stopJob(data)">停止</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="test1(data)">test1</a>
    </td>
  </tr>
  </tbody>
</nz-table>
