<div>
  <button nz-button nzType="primary" (click)="newJobDrawer()">新建任务</button>
</div>
<nz-divider></nz-divider>
<div>
  <nz-table #basicTable [nzData]="(list$|async)||[]">
    <thead>
    <tr>
      <th nzWidth="200px">cron表达式</th>
      <th>提示消息</th>
      <th>状态</th>
      <th>下次执行时间</th>
      <th nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td nz-tooltip [nzTooltipTitle]="data.cron">{{data.cron}}</td>
      <td nz-tooltip [nzTooltipTitle]="data.message">{{data.message}}</td>
      <td>
        <button nz-button nzType="primary" nzShape="circle" nzSize="small" *ngIf="data.status !== 'start'"
                (click)="startJob(data)" nz-tooltip nzTooltipTitle="开启">
          <span nz-icon nzType="caret-right"></span>
        </button>
        <button nz-button nzType="primary" nzShape="circle" nzSize="small" nzDanger *ngIf="data.status === 'start'"
                (click)="stopJob(data)" nz-tooltip nzTooltipTitle="关闭">
          <span nz-icon nzType="pause"></span>
        </button>
      </td>
      <td>

      </td>
      <td>
        <button nz-button nzType="primary" nzSize="small" (click)="editJob(data)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzSize="small" nzDanger
                nz-popconfirm
                nzPopconfirmTitle="确认要删除这个任务吗，删除后将无法恢复?"
                (nzOnConfirm)="deleteJob(data)"
        >删除
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
